@page
@model DeleteUserModel
@{
	ViewData["Title"] = "Delete User";
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
	<p>
		<strong>Deleting user will permanently remove user, and this cannot be recovered.</strong>
	</p>
</div>

<div>
	<form id="delete-user" method="post" class="form-group">
		<div asp-validation-summary="All" class="text-danger"></div>

		<h2>
			Are you sure you want to delete user '@Model.UserName'?
		</h2>
		<br />
		<input asp-for="UserName" type="hidden" />
		<button class="btn btn-danger" type="submit">Yes, let's delete this user</button>
		<a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Admin/Users">Cancel</a>
	</form>
</div>