@page "/fetch_data"
@inject HttpClient Http

@if (forecasts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var forecast in forecasts)
			{
				<tr>
					<td>@forecast.Id</td>
					<td>@forecast.Name</td>
					<td>@forecast.Price</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private ProductDto[] forecasts;

	protected override async Task OnInitializedAsync()
	{
		forecasts = await Http.GetFromJsonAsync<ProductDto[]>("api/products");
	}

}