@page "/fetch_data"

@if (forecasts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var forecast in forecasts)
			{
				<tr>
					<td>@forecast.Id</td>
					<td>@forecast.Name</td>
					<td>@forecast.Price</td>
				</tr>
			}
		</tbody>
	</table>
}