@page "/ckeditor"

<Row id="ckeditor-panels">
	<Column ColumnSize="ColumnSize.Is12">
		<Card Margin="Margin.Is4.OnY">
			<CardHeader>
				<CardTitle>
					Rich text box
				</CardTitle>
			</CardHeader>
			<CardBody>

				<EditForm Model="data">
					<InputRichText @bind-Value="data.Str"></InputRichText>
				</EditForm>

				<div>
					Result:
				</div>
				<div>
					@((MarkupString)data.Str)
				</div>
			</CardBody>
		</Card>
	</Column>
</Row>

@code {
	public DataItem data = new DataItem();

	public class DataItem
	{
		public string Str { get; set; } = "";
	}
}